/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root{
  --green:#0ab301;
  --aqua:#00f7ff;
  --blue:#031dc4fe;
  --babyblue:#00bfff;
  --black:#03012b;
  --blue-opaco:#0e1664;
  --light-blue:#e6fafd;
  --white:#ffff;
  --box-shadow:0 .8rem .5rem rgb(0, 13, 255);
  --filter: drop-shadow(0 10px 5px #3700ff );

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.8rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1rem;
  --normal-font-size: .9;
  --small-font-size: 10px;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-skinny: 400;
  --font-medium: 600;
  --font-semi-bold: 800;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 2.7rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.7rem;
    --h3-font-size: 1.3rem;
    --normal-font-size: 1.1rem;
    --small-font-size: 1rem;
    --smaller-font-size: .8rem;
  }
  .navbar ul li{
    display: inline;
   }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0; margin: 0;
  text-decoration: none;
  border: none; outline: none;
}

html {
  scroll-behavior: smooth;
  font-size: 70%;
  overflow-x: hidden;
}
.headings{
  font-size: var(--h2-font-size);
  text-align: center;
  margin: 0rem 0 1.5rem 0;
  box-shadow: var(--box-shadow);
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--white);
  color: var(--blue);
  transition: background-color .4s;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--blue);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-block: 2rem 1rem;
  padding: 40px 15px;

  margin-top: 70px;
}
.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
 
}
.main {
  overflow:hidden;
}

/*=============== HEADER & NAV ===============*/

/* Navigation for mobile devices */
.header{
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  padding:0;
  background-color:var(--white) ; 
 z-index: 1000;
 box-shadow: var(--box-shadow);
}
#logo{
  width: 280px;
  height: 80px;
  cursor: pointer;
  transition: 0.3 ease;
}
#logo:hover{
  transform:scale(.9);
}

.header ul{
  display: flex;
  align-items: center;
}
.header ul li a{
  color: var(--blue);
  background:var(--white);
  padding: 2px 15px;
  font-weight: var(--font-semi-bold);
  border-radius: 5px;
 /* border: 1px solid var(--green);
  filter: drop-shadow(0 5px 5px #00ff11 );*/
}
.nav ul li{
  padding: 0 15px;
  font-size: 17px;
  font-weight: bold;
 
}
.header ul li :hover{
  color: var(--blue);
  font-size: 18px;
  border: 1px solid var(--blue);
  filter: drop-shadow(0 5px 5px #005eff );
}
.navbar{
  position: absolute;
  top: 100%; left: 0; right: 0;
  background: #fff;
  padding: 2px;
  align-items: center;
  justify-content: space-around;
  align-content :center;
  clip-path: polygon(0 0, 100% 0, 0 0);
  }
  .navbar a{
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: var(--h1-font-size);

}
.navbar a:hover,
.navbar a.active{
  color: var(--blue);
  font-size: scale(1.5);
  border-bottom:3px solid var(--blue);
  font-weight: 900;
  transition: all 0.3s ease-in; 
  
  /*filter: drop-shadow(0 10px 5px #fff);*/
}

/* Show menu */
header .navbar.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
/* Bars menu */
#bars-icon{
font-size: 3rem;
color: var(--white);
display: block;
position: absolute;
height: 4rem; width: 4rem;
text-align: center;
line-height: 4rem;
border-radius: 50%;
right: 10px; top:1.4rem;
border-radius: 20%;
background-color: var(--blue);
visibility: visible;
filter: drop-shadow(0 5px 5px var(--aqua));
}

#bars-icon:hover{
font-size: 3.3rem;
background: var(--white);
color: var(--blue);

filter:drop-shadow(1px 5px 5px #0004f8);
}



/* dropdown nav a */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--blue-opaco);
  box-shadow: var(--box-shadow);
  margin: 0;
  padding: 0;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color:white;
  padding: 0px 15px;
  text-decoration: none;
  display: block;
}
#dropdown {
  position: relative;
  display: inline-block;
}
#dropdown:hover .dropdown-content {display: block;}
/* Header background color of other pages */


/*=============== BUTTON ===============*/
  .btn{
    padding: 1rem 2.8rem;
    background:var(--blue);
    border: none;
    border-radius: 50px;
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    transition: all 0.3s ease-in;
    text-decoration: none;
    color:var(--white);
    filter: drop-shadow(0 10px 5px #00fffb);
    letter-spacing: .1rem;
  }
  .btn:hover{
    background: var(--babyblue);
    color: var(--white );
    filter: drop-shadow(0 15px 5px rgb(5, 17, 250));
    transform: scale(1.1);
  }


/*=============== HOME ===============*/

#home{
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  padding: 0 .5% 5rem;
  gap: 1rem;
  background-color: white;
  overflow: visible;
}
.home-container{
  height: 50lvh;
  display: inline;
  justify-content: space-between;
  padding: 5rem 7% 13px;
}
.home-content{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 1rem; 
}
span{
  color: var(--babyblue);
}
.home-content h2{
  margin-top: 0rem;
  font-size: var(--h1-font-size); 
}
.home-content h1{
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: var(--biggest-font-size);
}
.home-content h3{
  font-size: var(--h2-font-size);
  font-weight: 700;
  margin-top: 1rem;
  line-height: 1rem;
}
.home-content p{
  font-size: var(--small-font-size);
  font-weight: 500;
  line-height: 1.5;
  max-width: 1000px;
  text-align: justify;
}
.social-icons{
  position: absolute;
  right: 5%;
}
.social-icons a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.2rem;
  height: 4.2rem;
  font-size: 2.7rem;
  border-radius: 50%;
  color: var(--white);
  margin: 1rem 0rem 3rem 0;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover{
  transform: scale(1.1) translateY(-5px);
}
#face-icon{
  background: blue;
  color: #fff;
}
#face-icon:hover{
  background: white;
  color: var(--blue);
  border: 1px solid var(--blue);
  filter: drop-shadow(0 10px 3px var(--blue) );
}
#whats-icon{
  background-color: var(--green);
  border: 1px solid var(--green);
}
#whats-icon:hover{
  background: var(--white);
  color: var(--green);
  filter: drop-shadow(0 10px 5px var(--green) );
}


.btn-group{
  display: flex;
  align-items: center;
  gap: 1.3rem;
  font-size: 15px;
  margin-top: 4rem;
}
/*-------bubbles-------*/
.bubbles{
  width: 100%; height: 130px;
  z-index: 100; 
}

/*--------waves------------- */
.waves{
  position: relative;
  width: 100%;height: 200px;
  background: transparent;
  overflow: hidden;
}
.waves .wave{
  position: absolute;
  bottom: 0; left: 0;
  width: 100%; height: 150px;
  background: url(/images/wave.png);
  background-size: 1000px 150px;
  z-index: 1000;
}
#wave1{
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
#wave2{
  animation: animate 15s linear infinite;
  z-index: 1000;
  opacity: 0.5;
  animation-delay: -3s;
  bottom:50px;
}

#wave3{
  animation: animate2 10s linear infinite;
  z-index: 1000;
  opacity: .3;
  animation-delay: -2s;
}
  
@keyframes animate{
  0%{
    background-position-x: 0;
    }

  100%{
    background-position-x: 1000px;
  }
}
@keyframes animate2{
  0%{
    background-position-x: 0;
    }

  100%{
    background-position-x: -1000px;
  }
}

/*=============== BENEFITS ===============*/

.benefits-container{
  width: 100%;
  display:grid;
  flex-wrap: nowrap;
  background-image: url(/images/water.jpg);
  background-size: cover;
  background-color: var(--white);
  justify-content:space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0px;
}
.card{
  border: 1px solid;
  min-height: 100%;
  position: relative;
  background: var(--light-blue);
  transition: all 0.3 ease-out;
  border-radius: 10px;
  width: 300px;
  height: 360px;
  padding-top: 80px;
  border: 3px solid var(--blue);
  transition: .5 ease;
  color: var(--blue-opaco);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
} 
.card .benefits-content{
  color: var(--black);
  text-align: center;
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 1.4;
  transition: all .05s ease-out;
  overflow-x: auto;
  transform: translateY(100%);
  opacity: 0;
}
.card:hover .benefits-content{
  transform: translateY(0%);
  opacity: 1;
}
.pro-picture{
  position: absolute;
  left: 50%; top:0;
  width: 100%; height: 100%;
  transform: translateX(-50%);
  background-size: contain;
  border-radius: 10px;
  background-position: center center;
  transition: all .3s ease-out;
  border: 2px solid var(--blue);
}
.card:hover .pro-picture{
  transform: translate(-50%, -50%);
  width: 150px; height: 150px;
  border-radius: 50%;
  transition: all .5s ease-in-out;
}
.card .benefits-content h1{
  margin: 2rem;
}
.card .benefits-content p{
  font-size: 18px;
  text-justify: auto;
  font-weight: 500;
  color: var(--black);
}
/*.benefits-content{
  width: 300px;
  height: 450px;
  background: transparent;
  padding: 20px;
  border: 3px solid var(--green);
  transition: .5 ease;
  color: var(--blue-opaco);
  filter: drop-shadow(0 10px 5px var(--green));
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/
.gota-img{
  position: absolute;
  top: 70%; right: 33%;
}
.gota-img img{
  position:relative; 
  top: 0;
  width: 40vw;
  background: var(--white);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  rotate: -45deg;
  border: 2px solid var(--blue);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: .06s ease-in-out;
/*  mask-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBmaWxsPSIjMDA3MGYzIiBkPSIKICAgIE0zMCwwIGg3MCB2NzAgTDcwLDEwMCBMMCwxMDAgdi03MAogICI+PC9wYXRoPgo8L3N2Zz4=");*/
}
.gota-img img:hover{
  border: 2px solid var(--blue);
  transform: scale(1.2);
}
/*== moving home img  =====*/
.gota-img{
  animation: floatImage 6s ease-in-out infinite;
}
@keyframes floatImage{
  0%{
    transform:translateY(-.8rem);
  }
  50%{
    transform:translateY(1rem);
  }
  100%{
    transform:translateY(-.8
    rem);
  }
}


/*=============== SERVICES ===============*/
.service-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 1rem;
  background-image: url(/images/water.jpg);
  background-size: cover;
}
.service-container .service-box{
  width: 300px;
  height: 450px;
  background: var(--white);
  padding: 20px;
  border: 2px solid var(--blue);
  transition: .5 ease;
  color: var(--blue-opaco);
  filter: drop-shadow(0 10px 5px #3700ff);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.service-container .service-box  img{
  width:150px;
  height: 150px;
  margin: 0;
  border-radius: 10px;
}
.service-container .service-box:hover{
  box-shadow: var(--box-shadow);
}
.service-container:hover .service-box:not(:hover){
  transform: scale(.90);
  opacity:.75;
}
.service-container .service-box h3{   /* header  box caontainer=  web developer  */
  margin: 1rem 0 1rem 0;
  font-size: var(--h2-font-size);
  color: var(--blue); 
  font-weight: bold;
  text-align: center;
  line-height: 22px;
}
.service-container .service-box ul{  /* bolita icono de la lista ul */
  text-align:center;

}
.service-container li{  /* lista  quinceanera, wedings, birth... */
    color:  var(--light-color);
    font-weight:var(--font-semi-bold);
    font-size: var(--normal-font-size);
    line-height: 1.7rem;
}

/*=============== Find Us ===============*/
.findus-container{
max-width: 95%;
margin:  3rem auto;
display: flex;
flex-direction: column;
padding: 40px 20px;
background-color: var(--white);
box-shadow: var(--box-shadow);
border-radius: 8px;
border: 1px solid var(--blue);
align-items: center;
justify-content: center;
}
.map-container{
  position: relative;
  width: 100%; height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 2rem;
}
iframe{
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  border-radius: 10px;
  
}
/*=============== CONTACT ===============*/
.contactus-container{
  width: 100%;
  padding: 1rem;
  gap: 3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  background-image: url(/images/water.jpg);
  background-size: cover;
}
.contactus-container h2{
  color: var(--blue-opaco);
  background-color: white;
  margin-bottom: 2rem;
}
.contact form{
  max-width: 60rem;
  margin:auto;
  text-align: center;
  margin: 1.5rem;
  gap: 1.5rem;
}
.contact form .input-box{
  display: flex;
  background-color: var(--white);
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 15px;
}
.contact form .input-box input,
.contact form textarea{
width: 100%;
padding: 1.5rem;
font-size: large;
color: var(--blue-opaco);
background: var(--white);
border-radius: 15px;
border: 1px solid var(--blue);
margin: 10px 0px;
box-shadow: var(--box-shadow);
}
.contact form .btn{
  margin-top: 1rem;
  border-radius: 20px;
  margin-bottom: 2rem;
}
.contact .call{    /* call container */
  width: 300px;
  height: 450px;
  background: var(--white);
  padding: 20px;
  margin-bottom: 2rem;
  border: 3px solid var(--blue);
  transition: .5 ease;
  color: var(--blue-opaco);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.contact  .call img{
  border: 4px solid var(--blue);
  padding: 8px;
  width:150px;height: 150px;
  border-radius: 50%;
}
.contact  .call img:hover{
  padding: 5px;
}
.contact .call a{   /* href to snap looks like a btn */
  width: 150px;
  text-decoration:none ;
  text-align: center;
  margin: 10px;
  padding: 10px ;
  font-size: 19px;
  border-radius: 10px;
 }
.contact .call:hover{
  transform: scale(1.1);
}

/*=============== FOOTER ===============*/
.footer{
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
  background-color:var(--black);
  color: var(--light-color);   
  font-size: var(--normal-font-size);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.footer-main{
  display: inline-block;
  justify-content: space-around;
  margin: auto;
  grid-template-columns: minmax(20px,300px)  minmax(20px,300px) ;
  grid-template-rows: 1fr ;
  align-items: center;
  justify-items: center;
}
.footer-main .foot1 h3,
.footer-main .foot2 h3{
  font-size: var(--h2-font-size);
  color: var(--blue);
  margin-top: 1rem;
}
.foot-icons{
  margin-top: 2rem;
}
.foot-icons a {
  font-size: 20px;
  color:var(--white);
  margin: 1rem;
}
.foot-icons a:hover {
  color: var(--babyblue);
}
#logo-footer{
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  height: 80px;
  border-radius: 20PX;
}

.social-footer a{
  text-decoration: none;
  color: #ffff; 
  text-align: center;
  line-height: 35px;
  font-size: var(--medium-font-size);
  font-weight: 600;
  border-radius: 5px;
  padding: 3px;
}

.social-footer a:hover {
  text-decoration: none;
  background: transparent;
  font-size: var(--normal-font-size);
  font-weight: bold;
  transition: all 0.3s ease-in; 
  border-radius: 5px;
}
#snap-icon:hover{
  background: rgb(201, 201, 3);
  color: #fff;
}

.footer-copyright{
  padding: 7px;
  color: var(--white);
  text-align: center;
}
.footer-copyright:hover{
  color: var(--babyblue);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 13px;
}
::-webkit-scrollbar-thumb{
  background-color: #3700ff;
}
::-webkit-scrollbar-track{
  background-color: var(--blue-opaco);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media (max-width: 450px) {
.navbar{
  margin-top: 15px;
  height: 65vh;
}
.navbar ul{
  display:flex;
  flex-direction: column;
}
.gota-img{
  position: relative;
  top: -45%; right: -20%;
}
.benefits-container{
  margin-top: 15rem;
}
.findus-container{
  height: 80%;
}

.map-container{
  position: relative;
  width: 100%; height: 600px;
  padding-bottom: 56.25%;
  margin-bottom: 2rem;
}
.contactus-container{
  display: flex;
  flex-direction: column-reverse;
}
}
/* For medium devices */

@media (min-width: 768px) {
  html{
    font-size: 80%;
  }
  .header .logo{
    font-size: var(--h3-font-size);
  }

.navbar a{
    display: block;
    padding: 1rem;
    margin: 7px;
    font-size: var(--small-font-size);
    background-color: #eee;
}
  #bars-icon{
  display: none;
  }
  .navbar{
  display: inline-block;
  position: static;
  top: 0; left: 0; right: 0;
  background:none;
  border:none;
  padding: 2px;
  clip-path: none;
  }
  .home-container{
  display: flex;
  }
  .home-content{
    display: flex;
  }
  .home-img img{
    width: 40vw;
  }
  .waves .wave{
    height: 150px;
    background-size: 1000px 200px;
  }
  .benefits-container{
    width: 100%;
    display: flex;
  }
  .footer-main{
    display: flex;
    justify-content: space-around;
    margin: auto;
    grid-template-columns: minmax(20px,300px)  minmax(20px,300px) ;
    grid-template-rows: 1fr ;
    align-items: center;
  }
}
/* For large devices */
@media (min-width: 980px) {
 
  #home{
    display: inline-block;
    flex-direction: row;
    padding: 0rem .5% 2rem;
    gap: 5rem;
  }
  .home-container{
    height: auto;
  }
  .waves{
   bottom: -2rem;
  }
  .contactus-container{
    display: flex;
   }
   .contactus-container{
    flex-direction: row;
   }
   #card1{
    left: 32%;
  }
   .project-img{
    width: 600px;
    height: 400px;
    margin-bottom: 1.5 rem;
    border-radius: 7px;
  }
  .benefits-container{
    display:flex;
  }
  .gota-img{
    position: static;
    }
  
  .gota-img img{
    width: 20vw;
  }
}
/* For 2K resolutions (208 x 1152, 2048 x 1536) */